@import "tailwindcss";

@theme {
  --color-brand-primary: #c0897f;
  --color-brand-primary-dark: #a86f65;
  --color-brand-sand: #fefbe9;
  
  --color-ui-surface-dark: #1f1f1f;
  --color-ui-surface-dark-2: #2a2a2a;
  --color-ui-surface-dark-hover: #333333;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #111827;
  background: #ffffff;
  margin: 0;
}

@media (max-width: 767px) {
  main {
    padding-bottom: 96px;
  }
}